@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 100% 0 0;
    --foreground: 14.54% 0 0;
    --card: 100% 0 0;
    --card-foreground: 14.54% 0 0;
    --popover: 100% 0 0;
    --popover-foreground: 14.54% 0 0;
    --primary: 20.51% 0 0;
    --primary-foreground: 98.48% 0 0;
    --secondary: 96.97% 0 0;
    --secondary-foreground: 20.51% 0 0;
    --muted: 96.97% 0 0;
    --muted-foreground: 55.59% 0 0;
    --accent: 96.97% 0 0;
    --accent-foreground: 20.51% 0 0;
    --destructive: 57.66% 0.245 27.33;
    --destructive-foreground: 98.48% 0 0;
    --border: 92.2% 0 0;
    --input: 92.2% 0 0;
    --ring: 70.78% 0 0;
    --radius: 0.625rem;
    --chart-1: 64.61% 0.222 41.12;
    --chart-2: 60.05% 0.118 184.7;
    --chart-3: 39.84% 0.07 227.39;
    --chart-4: 82.75% 0.189 84.43;
    --chart-5: 76.87% 0.188 70.08;
  }

  .dark {
    --background: 14.54% 0 0;
    --foreground: 98.48% 0 0;
    --card: 20.51% 0 0;
    --card-foreground: 98.48% 0 0;
    --popover: 20.51% 0 0;
    --popover-foreground: 98.48% 0 0;
    --primary: 92.2% 0 0;
    --primary-foreground: 20.51% 0 0;
    --secondary: 26.9% 0 0;
    --secondary-foreground: 98.48% 0 0;
    --muted: 26.9% 0 0;
    --muted-foreground: 70.78% 0 0;
    --accent: 26.9% 0 0;
    --accent-foreground: 98.48% 0 0;
    --destructive: 70.37% 0.191 22.22;
    --destructive-foreground: 98.48% 0 0;
    --border: 26.9% 0 0;
    --input: 26.9% 0 0;
    --ring: 55.59% 0 0;
    --chart-1: 48.77% 0.243 264.38;
    --chart-2: 69.64% 0.17 162.48;
    --chart-3: 76.87% 0.188 70.08;
    --chart-4: 62.74% 0.265 303.9;
    --chart-5: 64.49% 0.246 16.44;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@layer utilities {
  .genz {
    @apply bg-[#c0c0c0] text-black px-4 py-2 h-max
  }
}

.swiper-pagination-bullet {
  padding: 1rem;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  padding: .85rem;
  background-color: #c0c0c0 !important;
  border: 3px solid #000000;
}